# Node modules
node_modules/
npm-debug.log*
 
# Environment files
.env
.env.local
.env.*.local
 

# Build outputs
dist/
build/
.cache/
.next/
out/

# Vercel
.vercel

# Optional: coverage reports
coverage/

# Optional: temporary files
tmp/
temp/
